<div class="row mt-5 p-3 ">
  <div class="container col-md-6 bg-white rounded p-4">
    <h1 class="text-center pb-3 px-3 fs-1 font-monospace"><%= @story.title %></h1>
    <div class="d-flex gap-3">
    <p class="w-50 text-justify ps-1 fw-semibold"><%= @story.content %></p>
     <%= image_tag(@story.image, class: "w-50 rounded") %>
     </div>
  </div>
</div>
